<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/dataTables.tailwindcss.css" />
    <title>Index</title>
  </head>
  <body>
    <% include ../../../partial/admin_drawer %>
    <h1 class="my-5 text-center text-2xl font-bold text-base-content">
      <%= locals.dept.name %> Department's Class List
    </h1>
    <div class="grid lg:grid-cols-4 md:grid-cols-1 sm:grid-cols-1 mb-5">
      <div></div>
      <div class="overflow-x-auto border m-5 col-span-2">
        <table id="example" class="display table my-3" style="width: 100%">
          <!-- head -->
          <thead>
            <tr class="text-xl">
              <th>No</th>
              <th>Name</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < classes.length;i++){%>
            <tr>
              <th><%= i+1 %></th>
              <td class="text-lg"><%= classes[i].name %></td>
              <td class="text-center">
                <button
                  class="btn btn-sm btn-warning m-1"
                  onclick="updateClass('<%= classes[i]._id %>','<%= classes[i].name %>',<%= classes[i].isInterval %>)"
                >
                  Update</button
                ><button
                  class="btn btn-sm btn-error m-1"
                  onclick="deleteClass('<%= classes[i]._id %>')"
                >
                  Delete
                </button>
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
        <a
          href="/admin/departments/<%= locals.dept.key %>/class/add"
          class="btn btn-block btn-primary my-5"
          >Add Class</a
        >
      </div>
    </div>
    <dialog id="updateModal" class="modal">
      <div class="modal-box">
        <h3 class="text-lg font-bold text-center my-3">Update Class</h3>
        <form
          action="/admin/departments/<%= locals.dept.key %>/class/update"
          method="post"
          id="frm"
        >
          <input type="hidden" name="id" id="id" />
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70"
            >
              <path
                d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"
              />
              <path
                d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2"
              />
              <path
                d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1z"
              />
            </svg>
            <input
              type="text"
              class="grow"
              name="name"
              id="name"
              placeholder="Class name"
            />
          </label>
          <div class="form-control w-full my-3">
            <label class="label cursor-pointer">
              <span class="label-text">Is Interval Class?</span>
              <input
                type="checkbox"
                id="isInterval"
                name="isInterval"
                class="toggle"
              />
            </label>
          </div>
          <input
            type="button"
            class="btn btn-block btn-primary my-2"
            onclick="checkFun()"
            value="Update"
          />
        </form>
      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>
    <% include ../../partial/footerbar %>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/dataTables.js"></script>
  <script src="/javascripts/dataTables.tailwindcss.js"></script>
  <script>
    new DataTable("#example");
  </script>
  <script>
    function deleteClass(id) {
      var opt = confirm("Are you sure for delete?");
      if (opt)
        location.href =
          "/admin/departments/<%= locals.dept.key %>/class/delete/" + id;
    }

    function updateClass(id, name, isInterval) {
      if (isInterval) {
        $("#isInterval").prop("checked", true);
      } else {
        $("#isInterval").prop("checked", false);
      }
      updateModal.show();
      $("#id").val(id);
      $("#name").val(name);
    }
    function checkFun() {
      const id = $("#id").val();
      const name = $("#name").val();
      if (id != "" && name != "") {
        const data = { name: $("#name").val(), id: $("#id").val() };
        $.ajax("/admin/departments/<%= locals.dept.key %>/class/checkWithId", {
          type: "POST",
          data: data,
          success: function (result) {
            if (result.status == false) {
              alert("Class is duplicated");
            } else {
              $("#frm").submit();
            }
          },
        });
      } else {
        alert("please fill class name");
      }
    }
  </script>
</html>
