<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/dataTables.tailwindcss.css" />
    <title>Academic</title>
  </head>
  <body>
    <% include ../../../partial/admin_drawer %>
    <h1 class="my-5 text-center text-2xl font-bold text-base-content">
      <%= locals.dept.name %> Department's Academic Combination List
    </h1>
    <div class="grid lg:grid-cols-6 md:grid-cols-1 sm:grid-cols-1 mb-5">
      <div></div>
      <div class="overflow-x-auto border m-5 col-span-4">
        <table
          id="example"
          class="display table my-3 font-bold"
          style="width: 100%"
        >
          <!-- head -->
          <thead>
            <tr class="text-xl">
              <th>No</th>
              <th>Academic-ID</th>
              <th>Class</th>
              <th>Academic Year</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < academics.length;i++){%>
            <tr>
              <td><%= i+1 %></td>
              <td><%= academics[i].name %></td>
              <td><%= academics[i].classId.name %></td>
              <td><%= academics[i].fromYear %> - <%= academics[i].toYear %></td>
              <td>
                <a
                  href="/admin/departments/<%= locals.dept.key %>/academic/detail/<%= academics[i]._id %>"
                  class="btn btn-sm btn-primary m-1"
                  >Detail</a
                >
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
        <a
          href="/admin/departments/<%= locals.dept.key %>/academic/add"
          class="btn btn-block btn-primary my-5"
          >Add Academic Combination</a
        >
      </div>
    </div>
    <% include ../../partial/footerbar %>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/dataTables.js"></script>
  <script src="/javascripts/dataTables.tailwindcss.js"></script>
  <script>
    new DataTable("#example");
  </script>
</html>
