<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Index</title>
  </head>
  <body>
    <% include ../partial/teacher_drawer %>
    <div class="my-5 text-center text-xl font-bold">Today Attendance</div>
    <div
      class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 mx-3 lg:mx-10 gap-3"
    >
      <% const timeList = [{start:9,end:10},{start:10,end:11},{start:11,end:12},{start:13,end:14},{start:14,end:15},{start:15,end:16}]; for(var i = 0; i < list.length;i++){ let isLibrary = false; for(var j = 0; j <
      list[i].subList.length;j++){ console.log(attendances);%>
        <% if(list[i].subList[j].subjectId.name == 'Library'){%>
            <% if(!isLibrary){%>
              <div class="card glass w-full">
                <div class="card-body">
                  <div class="card-title"><%= list[i].class.name %></div>
                  <p class="text-2xl font-bold text-center">
                    Subject : <%= list[i].subList[j].subjectId.name %>
                  </p>
                  <a <%= (attendances.filter((data) => data.time == list[i].subList[j].time.charAt(1))).length > 0 ? "disabled":"" %>
                    href="/teacher/callLibraryAttendance?cid=<%= list[i].class._id %>&day=<%= list[i].subList[j].time.charAt(0) %>&sid=<%= list[i].subList[j].subjectId._id %>&tid=<%= list[i].timetableId %>"
                    class="btn btn-primary btn-sm"
                    >Call All Library Attendance</a
                  >
                </div>
              </div>
            <% isLibrary=true }else{ continue; }%>
        <% }else{ let multi=''; if(j+1 != list[i].subList.length && list[i].subList[j].subjectId._id.toString()== list[i].subList[j+1].subjectId._id.toString()){multi += list[i].subList[j].time.charAt(1);multi += list[i].subList[j+1].time.charAt(1); if(j+2 != list[i].subList.length && list[i].subList[j].subjectId._id.toString()== list[i].subList[j+2].subjectId._id.toString()){multi += list[i].subList[j+2].time.charAt(1); if(j+3 != list[i].subList.length && list[i].subList[j].subjectId._id.toString()== list[i].subList[j+3].subjectId._id.toString()){multi += list[i].subList[j+3].time.charAt(1); if(j+4 != list[i].subList.length && list[i].subList[j].subjectId._id.toString()== list[i].subList[j+4].subjectId._id.toString()){multi += list[i].subList[j+4].time.charAt(1);if(j+5 != list[i].subList.length && list[i].subList[j].subjectId._id.toString()== list[i].subList[j+5].subjectId._id.toString()){multi += list[i].subList[j+5].time.charAt(1); j= j+5;}else{j= j+4}}else{j= j+3}}else{j= j+2} }else{j++;}; let isHide; if(timeList[multi.charAt(0)-1].start <= moment().hour() && moment().hour() <=  timeList[multi.charAt(multi.length-1)-1].start){isHide = false;}else{isHide=true}; %> 
          <div class="card glass w-full <%= isHide ? 'hidden': '' %>" >
          <div class="card-body">
            <div class="card-title"><%= list[i].class.name %></div>
            <p class="text-2xl font-bold text-center">
              Subject : <%= list[i].subList[j].subjectId.name %>
            </p>
            <p class="text-xl font-bold text-center">
              Time : <%= multi.split("") %>
            </p>
            <a <%= (attendances.filter((data) => data.time == list[i].subList[j].time.charAt(1))).length > 0 ? "disabled":"" %>
              href="/teacher/callMultiAttendance?cid=<%= list[i].class._id %>&day=<%= list[i].subList[j].time.charAt(0) %>&mtime=<%= multi %>&sid=<%= list[i].subList[j].subjectId._id %>&tid=<%= list[i].timetableId %>&teacherId=<%= list[i].subList[j].teacherId %>"
              class="btn btn-primary btn-sm"
              >Call Multi Attendance</a
            >
          </div>
        </div> <%}else{ let isHide; if(timeList[list[i].subList[j].time.charAt(1)-1].start == moment().hour()){isHide = false;}else{isHide=true}%>
          
          <div class="card glass w-full <%= isHide ? 'hidden': '' %>">
            <div class="card-body">
              <div class="card-title"><%= list[i].class.name %></div>
              <p class="text-2xl font-bold text-center">
                Subject : <%= list[i].subList[j].subjectId.name %>
              </p>
              <p class="text-xl font-bold text-center">
                Time : <%= list[i].subList[j].time.charAt(1) %>
              </p>
              <a <%= (attendances.filter((data) => data.time == list[i].subList[j].time.charAt(1))).length > 0 ? "disabled":"" %>
                href="/teacher/callAttendance?cid=<%= list[i].class._id %>&day=<%= list[i].subList[j].time.charAt(0) %>&time=<%= list[i].subList[j].time.charAt(1) %>&sid=<%= list[i].subList[j].subjectId._id %>&tid=<%= list[i].timetableId %>&teacherId=<%= list[i].subList[j].teacherId %>"
                class="btn btn-primary btn-sm"
                >Call Attendance</a
              >
            </div>
          </div>
          <%}%>
      
      <%}%> <%}%> <%}%>
    </div>
    <h1 class="my-5 text-center text-xl font-bold">
      Today Attendance call List
    </h1>
    <div class="grid lg:grid-cols-4 md:grid-cols-1 sm:grid-cols-1 mb-3">
      <div></div>
      <div class="col-span-2">
        <table class="table border-2 border-base-content table-sm">
          <thead class="text-lg">
            <td class="border-2 border-base-content">No</td>
            <td class="border-2 border-base-content">Class</td>
            <td class="border-2 border-base-content">Subject</td>
            <td class="border-2 border-base-content">Time</td>
            <td class="border-2 border-base-content">Action</td>
          </thead>
          <tbody>
            <% for(var i = 0; i < attendances.length;i++){%>
            <tr class="border-2 border-base-content">
              <td class="border-2 border-base-content"><%= i+1 %></td>
              <td class="border-2 border-base-content"><%= attendances[i].classId.name %></td>
              <td class="border-2 border-base-content"><%= attendances[i].subjectId.name %></td>
              <td class="border-2 border-base-content"><%= attendances[i].time %></td>
              <td class="border-2 border-base-content"><a href="/teacher/attendanceDetail/<%= attendances[i]._id %>" class="btn btn-sm btn-primary">Detail</a></td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
</html>
