<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>View Attendance Detail</title>
  </head>
  <body>
    <% include ../partial/teacher_drawer %>
    <h1 class="text-2xl text-center font-bold my-3">
      All Subject Attendance By Monthly
    </h1>
    <div class="card mx-auto glass sm:w-full md:w-full lg:w-1/2">
      <div class="card-body">
        <h2 class="text-center font-bold">
          T = Total Attendance , P = Present, A = Absent, P(%) = Percent
        </h2>
      </div>
    </div>
    <div class="grid grid-cols-1 m-2 gap-2 mb-5">
      <% const overall = [];
      students.map((item)=>{overall.push({studentId:item._id,allTotal:0,allAtt:0})});
      %> <% for(var j = 0; j < monthList.length;j++){const checkM =
      Object.keys(attendanceList).filter((item)=> {return item ==
      monthList[j].no}); if(checkM.length == 0){continue;}else{const data =
      attendanceList[checkM[0]]}; %>
      <h1 class="text-center text-xl font-bold my-3">
        <%= monthList[j].name %>
      </h1>
      <div class="overflow-x-auto">
        <table class="table table-md">
          <thead>
            <tr class="text-center">
              <th rowspan="2" class="border border-base-content">No</th>
              <th rowspan="2" class="border border-base-content">Roll</th>
              <th rowspan="2" class="border border-base-content">Name</th>
              <% for(var i = 0; i < subjects.length;i++){%>
              <th class="border border-base-content">
                <%= subjects[i].name %>
              </th>
              <%}%>
              <th colspan="4" class="border border-base-content">
                Current Month
              </th>
              <th colspan="4" class="border border-base-content">
                Previous Month + Current Month
              </th>
            </tr>
            <tr>
              <% for(var i = 0; i < subjects.length;i++){ %>
              <!-- <th class="border border-base-content">T</th> -->
              <th class="border border-base-content">P</th>
              <!-- <th class="border border-base-content">A</th>
              <th class="border border-base-content">P(%)</th> -->
              <%}%>
              <th class="border border-base-content">T</th>
              <th class="border border-base-content">P</th>
              <th class="border border-base-content">A</th>
              <th class="border border-base-content">P(%)</th>
              <th class="border border-base-content">T</th>
              <th class="border border-base-content">P</th>
              <th class="border border-base-content">A</th>
              <th class="border border-base-content">P(%)</th>
            </tr>
          </thead>
          <tbody class="border border-base-content">
            <% for(var k = 0; k < students.length; k++){let stuAllAtt = 0; let
            stuAllTotal = 0; %>
            <tr>
              <td class="border border-base-content"><%= k+1 %></td>
              <td
                class="whitespace-normal min-w-[8rem] border border-base-content"
              >
                <% let year = students[k].classId.name.charAt(0); %> <%= (year
                == '1')? 'I' : (year == '2')?'II':(year == '3')? 'III' : (year
                == '4')? 'IV': (year == '5')? 'V' : 'VI'%>-<%=
                students[k].department %>-<%= students[k].roll %>
              </td>
              <td
                class="whitespace-normal min-w-[10rem] border border-base-content"
              >
                <%= students[k].name %>
              </td>
              <% for(var i = 0; i < subjects.length;i++){const att =
              attendanceList[monthList[j].no].filter(({_id})=>{const nid =
              _id.subjectId.toString(); const sid = subjects[i]._id.toString();
              return nid == sid }); console.log(att) %> <% if(att.length ==
              0){%>
              <td class="border border-base-content">0</td>
              <!-- <td class="border border-base-content">0</td>
              <td class="border border-base-content">0</td>
              <td class="border border-base-content">0</td> -->
              <%}else{ let attCount = 0; let totalCount = 0;
              att[0].list.map((stuList)=>{totalCount++;const stuAtt =
              stuList.list.filter((detail)=>{return detail.studentId.toString()
              == students[k]._id.toString()});
              if(stuAtt[0].isAttendance){attCount++}}); stuAllAtt +=
              attCount;stuAllTotal += totalCount;%>
              <!-- <td class="border border-base-content"><%= totalCount %></td> -->
              <td class="border border-base-content"><%= attCount %></td>
              <!-- <td class="border border-base-content">
                <%= totalCount-attCount %>
              </td>
              <td class="border border-base-content">
                <%= Math.round(attCount/totalCount *100) %>
              </td> -->
              <%}%> <%} const dataStudent = overall.find((s) =>
              s.studentId.toString() === students[k]._id.toString());
              if(dataStudent){dataStudent.allTotal += stuAllTotal;
              dataStudent.allAtt += stuAllAtt; } const currentOverall =
              overall.filter((sub)=>{return sub.studentId.toString() ==
              students[k]._id.toString()})%>
              <td class="border border-base-content"><%= stuAllTotal %></td>
              <td class="border border-base-content"><%= stuAllAtt %></td>
              <td class="border border-base-content">
                <%= stuAllTotal - stuAllAtt %>
              </td>
              <td class="border border-base-content">
                <%= Math.round(stuAllAtt/stuAllTotal *100) %>
              </td>
              <td class="border border-base-content">
                <%= currentOverall[0].allTotal %>
              </td>
              <td class="border border-base-content">
                <%= currentOverall[0].allAtt %>
              </td>
              <td class="border border-base-content">
                <%= currentOverall[0].allTotal - currentOverall[0].allAtt %>
              </td>
              <td class="border border-base-content">
                <%= Math.round(currentOverall[0].allAtt /
                currentOverall[0].allTotal * 100) %>
              </td>
            </tr>
            <% }%>
          </tbody>
        </table>
      </div>
      <%}%>
    </div>
  </body>
</html>
