<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>View Attendance Detail</title>
  </head>
  <body>
    <% include ../partial/teacher_drawer %>
    <h1 class="text-2xl text-center font-bold my-5">
      Monthly Attendance for <%= subject.name %>
    </h1>
    <div class="grid grid-cols-1 m-2 gap-2 mb-3">
      <% const overall = [];
      studentList.map((item)=>{overall.push({studentId:item._id,allTotal:0,allAtt:0})});
      %> <% for(var i = 0; i < monthList.length;i++){ const data =
      attendanceList.filter((item)=> {return item.month == monthList[i].no});
      if(data.length == 0){continue;} %>
      <div class="card glass w-full mx-auto">
        <div class="card-body overflow-x-auto">
          <h1 class="text-xl text-center font-bold">
            <%= monthList[i].name %>
          </h1>
          <table class="table">
            <% const listDate = data[0].stuAttendance[0].list.reduce((acc,
            current) => { const existing = acc.find(item => item.date ===
            current.date); if (existing) { existing.attCount +=
            current.attCount; existing.totalCount += current.totalCount;
            existing.time += ','+current.time; } else { acc.push({ ...current
            }); } return acc; }, []); %>
            <thead>
              <tr class="text-center">
                <th class="border border-base-content" rowspan="2">Roll</th>
                <th class="border border-base-content" rowspan="2">Name</th>
                <% listDate.map((item)=>{%>
                <th class="border border-base-content text-center">
                  <%= item.date %>(<%= item.time %>)
                </th>
                <%})%>
                <th class="border border-base-content" colspan="4">
                  Current Month
                </th>
                <th class="border border-base-content" colspan="4">
                  Previous Month + Current Month
                </th>
              </tr>
              <tr class="text-center">
                <% listDate.map((item)=>{%>
                <th class="border border-base-content">P</th>
                <%})%>
                <th class="border border-base-content">T</th>
                <th class="border border-base-content">P</th>
                <th class="border border-base-content">A</th>
                <th class="border border-base-content">P(%)</th>
                <th class="border border-base-content">T</th>
                <th class="border border-base-content">P</th>
                <th class="border border-base-content">A</th>
                <th class="border border-base-content">P(%)</th>
              </tr>
            </thead>
            <tbody>
              <% for(var j = 0; j < studentList.length;j++){ const student =
              data[0].stuAttendance.filter((stu)=> stu.studentId.toString() ==
              studentList[j]._id.toString()); const dataStudent =
              overall.find((s) => s.studentId.toString() ===
              studentList[j]._id.toString());
              if(dataStudent){dataStudent.allTotal += student[0].totalCount;
              dataStudent.allAtt += student[0].attCount; } const currentOverall
              = overall.filter((sub)=>{return sub.studentId.toString() ==
              studentList[j]._id.toString()}); %> <% const stuList = student[0];
              const info = (stuList.list.reduce((acc, current) => { const
              existing = acc.find(item => item.date === current.date); if
              (existing) { existing.attCount += current.attCount;
              existing.totalCount += current.totalCount; existing.time +=
              ','+current.time; } else { acc.push({ ...current }); } return acc;
              }, [])); %>
              <tr class="text-center">
                <td class="border border-base-content">
                  <% let year = studentList[j].classId.name.charAt(0); %> <%=
                  (year == '1')? 'I' : (year == '2')?'II':(year == '3')? 'III' :
                  (year == '4')? 'IV': (year == '5')? 'V' : 'VI'%>-<%=
                  studentList[j].department %>-<%= studentList[j].roll %>
                </td>
                <td class="border border-base-content">
                  <%= studentList[j].name %>
                </td>
                <% info.map((infoAtt)=>{%>
                <!-- <td class="border border-base-content">
                  <%= infoAtt.totalCount %>
                </td> -->
                <td class="border border-base-content">
                  <%= infoAtt.attCount %>
                </td>
                <!-- <td class="border border-base-content">
                  <%= infoAtt.totalCount- infoAtt.attCount %>
                </td> -->
                <%})%>
                <td class="border border-base-content">
                  <%= student[0].totalCount %>
                </td>
                <td class="border border-base-content">
                  <%= student[0].attCount %>
                </td>
                <td class="border border-base-content">
                  <%= student[0].attCount - student[0].attCount %>
                </td>
                <td class="border border-base-content">
                  <%= Math.ceil(student[0].attCount/student[0].totalCount * 100)
                  %>
                </td>
                <td class="border border-base-content">
                  <%= currentOverall[0].allTotal %>
                </td>
                <td class="border border-base-content">
                  <%= currentOverall[0].allAtt %>
                </td>
                <td class="border border-base-content">
                  <%= currentOverall[0].allTotal - currentOverall[0].allAtt %>
                </td>
                <td class="border border-base-content">
                  <%= Math.ceil(currentOverall[0].allAtt /
                  currentOverall[0].allTotal * 100) %>
                </td>
              </tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
      <%} %>
    </div>
  </body>
</html>
