<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Index</title>
  </head>
  <body>
    <% include ../../../partial/admin_drawer %>
    <h1 class="my-5 text-center text-2xl font-bold text-base-content">
      <%= locals.dept.name %> Department's Subject List
    </h1>
    <div class="grid lg:grid-cols-3 md:grid-cols-1 sm:grid-cols-1 mb-5">
      <div></div>
      <div class="overflow-x-auto border m-5">
        <table class="table">
          <!-- head -->
          <thead>
            <tr class="text-xl">
              <th>No</th>
              <th>Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < subjects.length;i++){%>
            <tr class="text-lg">
              <th><%= i+1 %></th>
              <td><%= subjects[i].name %></td>
              <td>
                <a
                  href="/admin/departments/<%= locals.dept.key %>/subject/detail/<%= subjects[i]._id %>"
                  class="btn btn-sm btn-primary m-1"
                  >Detail</a
                >
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
        <a
          href="/admin/departments/<%= locals.dept.key %>/subject/add"
          class="btn btn-block btn-primary my-5"
          >Add Subject</a
        >
      </div>
    </div>
    <% include ../../partial/footerbar %>
  </body>
  <script>
    console.log("<%= locals.dept.name %>");
  </script>
</html>
