<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/dataTables.tailwindcss.css" />
    <title>Index</title>
  </head>
  <body>
    <% include ../../../partial/admin_drawer %>
    <h1 class="my-5 text-center text-2xl font-bold text-base-content">
      <%= locals.dept.name %> Department's Subject List
    </h1>
    <div class="grid lg:grid-cols-4 md:grid-cols-1 sm:grid-cols-1 mb-20">
      <div></div>
      <div class="overflow-x-auto border m-5 col-span-2">
        <table
          id="example"
          class="display table my-3 font-bold"
          style="width: 100%"
        >
          <!-- head -->
          <thead>
            <tr class="text-xl">
              <th>No</th>
              <th>Name</th>
              <th>Code</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < subjects.length;i++){%>
            <tr class="text-lg">
              <th><%= i+1 %></th>
              <td><%= subjects[i].name %></td>
              <td><%= subjects[i].code %></td>
              <td class="text-center">
                <a
                  href="/admin/departments/<%= locals.dept.key %>/subject/update/<%= subjects[i]._id %>"
                  class="btn btn-sm btn-warning"
                  >Update</a
                >
                <button
                  onclick="del('<%= subjects[i]._id %>')"
                  class="btn btn-sm btn-error"
                >
                  Delete
                </button>
              </td>
            </tr>
            <%}%>
          </tbody>
        </table>
      </div>
    </div>
    <% include ../../partial/footerbar %>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/dataTables.js"></script>
  <script src="/javascripts/dataTables.tailwindcss.js"></script>
  <script>
    new DataTable("#example");
    function del(id) {
      var opt = confirm("Are you sure for delete?");
      if (opt)
        location.href =
          "/admin/departments/<%= locals.dept.key %>/subject/delete/" + id;
    }
  </script>
</html>
