<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Attendance</title>
  </head>
  <body>
    <% include ../partial/student_drawer %>
    <h1 class="my-5 text-center font-bold text-xl">Your Attendance Monthly</h1>
    <div
      class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1 m-2 gap-2 mb-3"
    >
      <% const overall = [];
      subjects.map((item)=>{overall.push({subjectId:item._id,allTotal:0,allAtt:0})});
      %> <% for(var i = 0; i < monthList.length;i++){ const data =
      attendanceList.filter((item)=> {return item.month == monthList[i].no});
      if(data.length == 0){continue;} let sAtt = 0; let sTotal = 0;%>
      <div class="card glass w-full mx-auto">
        <div class="card-body">
          <h1 class="text-xl text-center font-bold">
            <%= monthList[i].name %>
          </h1>
          <table class="table text-center font-bold">
            <thead class="text-lg">
              <tr>
                <th class="border border-base-content" rowspan="2">Subject</th>
                <th class="border border-base-content" rowspan="2">Att</th>
                <th class="border border-base-content" rowspan="2">Total</th>
                <th class="border border-base-content" rowspan="2">Percent</th>
                <th class="border border-base-content" colspan="3">Overall</th>
              </tr>
              <tr>
                <th class="border border-base-content">A</th>
                <th class="border border-base-content">T</th>
                <th class="border border-base-content">P</th>
              </tr>
            </thead>
            <tbody>
              <% for(var j = 0; j < subjects.length; j++){const subjData =
              data.filter((sub)=>{return sub.subjectId.toString()==
              subjects[j]._id.toString()})%>
              <tr>
                <td class="border border-base-content">
                  <%= subjects[j].name %>
                </td>
                <% if(subjData.length == 0){%>
                <td class="border border-base-content">0</td>
                <td class="border border-base-content">0</td>
                <td class="border border-base-content">0</td>
                <%}else{ sAtt += subjData[0].attCount; sTotal +=
                subjData[0].totalCount; const dataSubject = overall.find((s) =>
                s.subjectId.toString() === subjects[j]._id.toString());
                if(dataSubject){dataSubject.allTotal += subjData[0].totalCount;
                dataSubject.allAtt += subjData[0].attCount; } %>
                <td class="border border-base-content">
                  <%= subjData[0].attCount %>
                </td>
                <td class="border border-base-content">
                  <%= subjData[0].totalCount %>
                </td>
                <td class="border border-base-content">
                  <%= Math.round(subjData[0].attCount/subjData[0].totalCount
                  *100) %>
                </td>
                <%}const currentOverall = overall.filter((sub)=>{const oSid =
                sub.subjectId.toString();const sid =
                subjects[j]._id.toString();return oSid == sid}); %> <%
                if(currentOverall.length ==0){%>
                <td class="border border-base-content">0</td>
                <td class="border border-base-content">0</td>
                <td class="border border-base-content">0</td>
                <%}else{ %>
                <td class="border border-base-content">
                  <%= currentOverall[0].allAtt %>
                </td>
                <td class="border border-base-content">
                  <%= currentOverall[0].allTotal %>
                </td>
                <td class="border border-base-content">
                  <%= Math.round(currentOverall[0].allAtt /
                  currentOverall[0].allTotal *100) ?
                  Math.round(currentOverall[0].allAtt /
                  currentOverall[0].allTotal *100) : 0 %>
                </td>
                <%}%>
              </tr>
              <%}%>
              <tr>
                <td class="border border-base-content">Summary</td>
                <td class="border border-base-content"><%= sAtt %></td>
                <td class="border border-base-content"><%= sTotal %></td>
                <td class="border border-base-content">
                  <%= Math.round(sAtt / sTotal *100) %>
                </td>
                <td class="border border-base-content">
                  <%= overall.reduce((n,{allAtt}) => n + allAtt,0 ) %>
                </td>
                <td class="border border-base-content">
                  <%= overall.reduce((n,{allTotal}) => n + allTotal,0 ) %>
                </td>
                <td class="border border-base-content">
                  <%= Math.round(overall.reduce((n,{allAtt}) => n + allAtt,0
                  )/overall.reduce((n,{allTotal}) => n + allTotal,0 ) *100) %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <%} %>
    </div>
  </body>
</html>
